.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginButtons{
  display: flex;
  flex-direction: column;
}
.loginForm{
  display:flex;
  flex-direction: column;
}
.loginContainer{
  display: flex;
  justify-content: center;
}

.userHeader{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size:1.4em;
}
.userLabel{
  color:#00A9DD;
}
.header{
  background-color:grey;
  margin:0 auto;
}
.ratingInput{
  min-width: 50%
}
.snacksLogo{
  min-width:21em;
  max-width:21em;
}
.invalidExistingUser{
  color:red;
  font-weight: bold;
}
.backSnacksRow{
  width:100vw;
  display:flex;
  justify-content: flex-end;
  position:sticky;
  z-index: 999;
  top:0px;
  margin-right:5%;
}
.snackImage{
  max-height:8em;
  max-width:100%;
  border-radius:20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.adminSnackButtonsCenter{
  display: flex;
  justify-content: center;
}
.adminHeader{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
}
.backSnacksButton{
  position:sticky;
  z-index: 999;
  top:0px;
  right:10px;
}
.signInButtons{
  display:flex;
  justify-content: flex-end;
  width:100vw;
}
.snackList{
  border:black solid 1px;
  border-radius:20px;
  width:30%;
  margin:.5em;
  padding:.3em;
  background-color:rgb(207, 207, 207);
}
.invidivualSnackImage{
  height:auto;
  width: 50vw;
  border-radius:20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.snackHeader{
  text-align: center;
}
.snackName{
  font-size:2em;
}
a{
  color:black;
  text-align: center;
}
.removeUnderline:hover{
  text-decoration: none;
}
a :hover{
  color:rgb(0, 119, 155);
}
.buttonHover:hover{
  color:rgb(0, 119, 155);
}
.reviews{
  border:solid black 1px;
  background-color:rgb(248, 242, 233);
  border-radius: 10px;
  margin:.5em;
  padding-left:2em;
}
.form-container{
  display:flex;
  flex-direction: column;
  border:rgb(148, 148, 148) 1px solid;
  border-radius:1em;
  padding:2em;
  margin-top:1em;
  box-shadow: 0 4px 8px 0 rgba(0, 119, 155, 0.2), 0 6px 20px 0 rgba(0, 119, 155, 0.19);
}
.form-group{
  margin:1em;
  display:flex;
  flex-direction: column;
}
.formContainer{
  margin-top:1em;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.formTitle{
  font-weight: bold;
  font-size: 1.5em;
}
button{
  border-radius:5px;
  background-color:rgb(245, 245, 245);
  margin:.1em;
}

@media (min-width : 319px) and (max-width : 569px) {
  .smallScreen{
    display: flex;
    flex-direction: column;
  }
  .snackList{
    width:80vw;
    display:flex;
    align-self: center;
    justify-content: center;
    flex-direction: column
  }
}

.hidden{
  display:none;
}